<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" parallel="tests" thread-count="2">
    <test name="ToolsQA" >
        <classes>
            <class name="Test.MakeDAO" />
        </classes>
    </test>
    <test name="Test-class test 2">
        <parameter name="test-name" value="test-method One" />
        <classes>
            <class name="Test.FailMakeDAO" />
        </classes>
    </test>
</suite>
